<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>My Footer</p>
        <p>New Life Church Register Here.</p>
      </div>
    </footer>


