
<div class="container-fluid mt-3">
<h1>Add training resource</h1>

<br/>
<%= render "form", training_resource: @training_resource %>


<div>
  <%= link_to "Back", training_resources_path, class:"btn btn-dark" %>
</div>

</div>